<Config>
  <BindAddress>*</BindAddress>
  <Port>{{ lookup("vars", role_prefix + "_ports_cont") }}</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey></ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <Branch>nightly</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>{{ lookup("vars", role_prefix + "_basics_name") }}</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
</Config>